.main {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}


.prazanDiv{
    width: 60%;
    padding: 1em;
}

.headline{
    min-width: 50%;
    padding: 2em;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
   justify-content: center;

    /* border: 2px solid red; */

}


.secondDiv{
    max-width: 70rem;
    padding: 1em;


    display: flex;
   align-items: center;
  justify-content: space-between;
    margin-bottom: 1em;
    
     
        
}


.secondDivItem1{

    width: 32rem;
    padding: 1em;
     display: flex;
     flex-direction: column;
    align-items:center;
    justify-content: space-around;
  font-size: 1.1rem;


font-weight: 500;


}

.secondDivItem1 div{
    padding: 1em;
}

.secondDivItem1 div:hover{
    transition: 500ms;
    color: var(--grey);
}






.secondDivItem2 {
   height: 25rem;
    width: 32rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url('../../img/b8.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;




}




.threedDiv{
   width: 85rem;



    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 1em;


}


.threedDivItems{

   min-height: 35rem;

    border-radius: .6em;

    
    width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
   box-shadow: 1px 1px 10px 1px var(--grey);

    margin-bottom: 1em;

    /* border: 1px solid green; */


}

.threedDivItems div{
    padding: 1em;
    font-size: 1rem;
  
}

.threedDivItems:hover{
    transition: 500ms;
    transform: scale(.98);
}

.threedDivItems2:hover {
    transition: 500ms;
    transform: scale(.98);
}

.threedDivItems3:hover {
    transition: 500ms;
    transform: scale(.98);
}

.threedDivItems4:hover {
    transition: 500ms;
    transform: scale(.98);
}



.threedDivItems div:nth-child(1){
      min-height: 14rem;
      width: 100%;
       background-image: url('../../img/b7.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

     border-top-right-radius: .6em;
       border-top-left-radius: .6em;
        border: none;
      

   
}










.threedDivItems2 {

min-height: 35rem;

    border-radius: .6em;


    width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 1px 1px 10px 1px var(--grey);

    margin-bottom: 1em;

  
    /* border: 1px solid green; */


}

.threedDivItems2 div {
    padding: 1em;
    font-size:1rem;
}



.threedDivItems2 div:nth-child(1) {
    min-height: 14rem;
    width: 100%;
    background-image: url('../../img/group.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    border-top-right-radius: .6em;
    border-top-left-radius: .6em;
    border: none;



}












.threedDivItems3 {

    min-height: 35rem;
    
        border-radius: .6em;
    
    
        width: 20rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        box-shadow: 1px 1px 10px 1px var(--grey);
    
        margin-bottom: 1em;
    



}

.threedDivItems3 div {
    padding: 1em;
    font-size: 1rem;
}



.threedDivItems3 div:nth-child(1) {
    min-height: 14rem;
    width: 100%;
    background-image: url('../../img/girl.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    border-top-right-radius: .6em;
    border-top-left-radius: .6em;
    border: none;



}












.threedDivItems4 {

min-height: 35rem;
    border-radius: .6em;


    width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 1px 1px 10px 1px var(--grey);

    margin-bottom: 1em;




}

.threedDivItems4 div {
    padding: 1em;
    font-size: 1rem;
}



.threedDivItems4 div:nth-child(1) {
    min-height: 14rem;
    width: 100%;
    background-image: url('../../img/b9.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    border-top-right-radius: .6em;
    border-top-left-radius: .6em;
    border: none;



}

@media (max-width:85rem) {
.threedDiv {
        width: 70rem;



        display: flex;
        align-items: center;
        justify-content: space-between;

        margin-bottom: 1em;


    }


    .threedDivItems {

        min-height: 35rem;

        border-radius: .6em;


        width: 24%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        box-shadow: 1px 1px 10px 1px var(--grey);

        margin-bottom: 1em;

        /* border: 1px solid green; */


    }

    .threedDivItems div {
        padding: .7em;
        font-size: 1rem;

    }

    .threedDivItems:hover {
        transition: 500ms;
        transform: scale(.98);
    }

    .threedDivItems2:hover {
        transition: 500ms;
        transform: scale(.98);
    }

    .threedDivItems3:hover {
        transition: 500ms;
        transform: scale(.98);
    }

    .threedDivItems4:hover {
        transition: 500ms;
        transform: scale(.98);
    }



    .threedDivItems div:nth-child(1) {
        min-height: 14rem;
        width: 100%;
        background-image: url('../../img/b7.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        border-top-right-radius: .6em;
        border-top-left-radius: .6em;
        border: none;



    }










    .threedDivItems2 {

        min-height: 35rem;

        border-radius: .6em;


        width: 24%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        box-shadow: 1px 1px 10px 1px var(--grey);

        margin-bottom: 1em;


        /* border: 1px solid green; */


    }

    .threedDivItems2 div {
        padding: .7em;
        font-size: 1rem;
    }



    .threedDivItems2 div:nth-child(1) {
        min-height: 14rem;
        width: 100%;
        background-image: url('../../img/group.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        border-top-right-radius: .6em;
        border-top-left-radius: .6em;
        border: none;



    }












    .threedDivItems3 {

        min-height: 35rem;

        border-radius: .6em;


        width: 24%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        box-shadow: 1px 1px 10px 1px var(--grey);

        margin-bottom: 1em;




    }

    .threedDivItems3 div {
        padding: .7em;
        font-size: 1rem;
    }



    .threedDivItems3 div:nth-child(1) {
        min-height: 14rem;
        width: 100%;
        background-image: url('../../img/girl.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        border-top-right-radius: .6em;
        border-top-left-radius: .6em;
        border: none;



    }












    .threedDivItems4 {

        min-height: 35rem;
        border-radius: .6em;


        width: 24%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        box-shadow: 1px 1px 10px 1px var(--grey);

        margin-bottom: 1em;




    }

    .threedDivItems4 div {
        padding: .7em;
        font-size: 1rem;
    }



    .threedDivItems4 div:nth-child(1) {
        min-height: 14rem;
        width: 100%;
        background-image: url('../../img/b9.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        border-top-right-radius: .6em;
        border-top-left-radius: .6em;
        border: none;



    }
    


}




@media (max-width:70rem){

.secondDiv {
        max-width: 60rem;
        padding: 1em;


        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1em;



    }


.secondDivItem1 {

    width: 28rem;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 1.1rem;


    font-weight: 500;


}








.secondDivItem2 {
    height: 25rem;
    width: 28rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url('../../img/b8.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;




}



.threedDiv {
        width: 50rem;



    display: flex;
    align-items: center;
    justify-content: space-around;

    flex-wrap: wrap;



    }



          .threedDivItems {
    
              min-height: 35rem;
    
              border-radius: .6em;
    
    
              width: 20rem;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: space-between;
              box-shadow: 1px 1px 10px 1px var(--grey);
    
              margin-bottom: 1em;
    
              /* border: 1px solid green; */
    
    
          }
    
          .threedDivItems div {
              padding: .7em;
              font-size: 1rem;
    
          }
    

    
    
          .threedDivItems div:nth-child(1) {
              min-height: 14rem;
              width: 100%;
              background-image: url('../../img/b7.jpg');
              background-position: center;
              background-size: cover;
              background-repeat: no-repeat;
    
              border-top-right-radius: .6em;
              border-top-left-radius: .6em;
              border: none;
    
    
    
          }
    
    
    
    
    
    
    
    
    
    
          .threedDivItems2 {
    
              min-height: 35rem;
    
              border-radius: .6em;
    
    
            width: 20rem;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: space-between;
              box-shadow: 1px 1px 10px 1px var(--grey);
    
              margin-bottom: 1em;
    
    
              /* border: 1px solid green; */
    
    
          }
    
          .threedDivItems2 div {
              padding: .7em;
              font-size: 1rem;
          }
    
    
    
          .threedDivItems2 div:nth-child(1) {
              min-height: 14rem;
              width: 100%;
              background-image: url('../../img/group.jpg');
              background-position: center;
              background-size: cover;
              background-repeat: no-repeat;
    
              border-top-right-radius: .6em;
              border-top-left-radius: .6em;
              border: none;
    
    
    
          }
    
    
    
    
    
    
    
    
    
    
    
    
          .threedDivItems3 {
    
              min-height: 35rem;
    
              border-radius: .6em;
    
    
        width: 20rem;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: space-between;
              box-shadow: 1px 1px 10px 1px var(--grey);
    
              margin-bottom: 1em;
    
    
    
    
          }
    
          .threedDivItems3 div {
              padding: .7em;
              font-size: 1rem;
          }
    
    
    
          .threedDivItems3 div:nth-child(1) {
              min-height: 14rem;
              width: 100%;
              background-image: url('../../img/girl.jpg');
              background-position: center;
              background-size: cover;
              background-repeat: no-repeat;
    
              border-top-right-radius: .6em;
              border-top-left-radius: .6em;
              border: none;
    
    
    
          }
    
    
    
    
    
    
    
    
    
    
    
    
          .threedDivItems4 {
    
              min-height: 35rem;
              border-radius: .6em;
    
    
        width: 20rem;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: space-between;
              box-shadow: 1px 1px 10px 1px var(--grey);
    
              margin-bottom: 1em;
    
    
    
    
          }
    
          .threedDivItems4 div {
              padding: .7em;
              font-size: 1rem;
          }
    
    
    
          .threedDivItems4 div:nth-child(1) {
              min-height: 14rem;
              width: 100%;
              background-image: url('../../img/b9.jpg');
              background-position: center;
              background-size: cover;
              background-repeat: no-repeat;
    
              border-top-right-radius: .6em;
              border-top-left-radius: .6em;
              border: none;
    
    
    
          }


  
}







@media (max-width:60rem) {
.prazanDiv {
        width: 60%;
        padding: 1em;
    }

    .headline {
        min-width: 50%;
        padding: 2em;
        font-size: 1.2rem;
        display: flex;
        align-items: center;
        justify-content: center;



    }


    .secondDiv {
        max-width: 50rem;
        padding: .5em;


        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1em;



    }


    .secondDivItem1 {

        min-width: 48%;
        padding: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        font-size: .9rem;





    }

    .secondDivItem1 div {
        padding: 1em;
    }






    .secondDivItem2 {
        min-height: 22rem;
        min-width: 48%;

        display: flex;
        align-items: center;
        justify-content: space-between;
        background-image: url('../../img/b8.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;




    }



  
}










@media (max-width:50rem) {
    .prazanDiv {
        width: 60%;
        padding: 1em;
    }

    .headline {
        min-width: 50%;
        padding: 2em;
        font-size: 1.1rem;
        display: flex;
        align-items: center;
        justify-content: center;



    }


    .secondDiv {
        max-width: 40rem;
        padding: .5em;
    


        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-bottom: 1em;



    }


    .secondDivItem1 {

        min-width: 30rem;
        padding: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        font-size: .9rem;





    }

    .secondDivItem1 div {
        padding: 1em;
    }






    .secondDivItem2 {
        min-height: 25rem;
        min-width: 30rem;

        display: flex;
        align-items: center;
        justify-content: space-between;
        background-image: url('../../img/b8.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;




    }



    .threedDiv {
        max-width: 95%;
        



        display: flex;
        
        align-items: center;
        justify-content: space-around;

        margin-bottom: 1em;



    }


    .threedDivItems {

        min-height: 31rem;

        border-radius: .6em;


       min-width: 19rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        box-shadow: 1px 1px 10px 1px var(--grey);

        margin-bottom: 1em;

        /* border: 1px solid green; */


    }

    .threedDivItems2 {

    min-height: 31rem;
    
        border-radius: .6em;
    
    
        min-width: 19rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        box-shadow: 1px 1px 10px 1px var(--grey);
    
        margin-bottom: 1em;
    
        /* border: 1px solid green; */


    }

    .threedDivItems3 {

    min-height: 31rem;
    
        border-radius: .6em;
    
    
        min-width: 19rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        box-shadow: 1px 1px 10px 1px var(--grey);
    
        margin-bottom: 1em;



    }

    .threedDivItems4 {

min-height: 31rem;

    border-radius: .6em;


    min-width: 19rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 1px 1px 10px 1px var(--grey);

    margin-bottom: 1em;

    /* border: 1px solid green; */


    }




}
























@media (max-width:40rem) {
    .prazanDiv {
        width: 60%;
        padding: 1em;
    }

    .headline {
        min-width: 50%;
        padding: 2em;
        font-size: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;



    }


    .secondDiv {
        max-width: 95%;
        padding: .2em;



        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-bottom: 1em;



    }


    .secondDivItem1 {

        min-width: 90%;
        padding: .5em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        font-size: .9rem;





    }

    .secondDivItem1 div {
        padding: 1em;
    }






    .secondDivItem2 {
        min-height: 25rem;
        min-width: 90%;

        display: flex;
        align-items: center;
        justify-content: space-between;
        background-image: url('../../img/b8.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;




    }



    .threedDiv {
        max-width: 30rem;




        display: flex;
        
        align-items: center;
        justify-content: center;

        margin-bottom: 1em;



    }


    .threedDivItems {

        min-height: 25rem;

        border-radius: .6em;


        min-width: 18rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        box-shadow: 1px 1px 10px 1px var(--grey);

        margin-bottom: 1em;

        /* border: 1px solid green; */


    }

    .threedDivItems2 {

        min-height: 25rem;

        border-radius: .6em;


        min-width: 18rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        box-shadow: 1px 1px 10px 1px var(--grey);

        margin-bottom: 1em;

        /* border: 1px solid green; */


    }

    .threedDivItems3 {

        min-height: 25rem;

        border-radius: .6em;


        min-width: 18rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        box-shadow: 1px 1px 10px 1px var(--grey);

        margin-bottom: 1em;

        /* border: 1px solid green; */


    }

    .threedDivItems4 {

        min-height: 25rem;

        border-radius: .6em;


        min-width: 18rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        box-shadow: 1px 1px 10px 1px var(--grey);

        margin-bottom: 1em;

        /* border: 1px solid green; */


    }




}














@media (max-width:30rem) {
    .prazanDiv {
        width: 60%;
        padding: 1em;
    }

    .headline {
        min-width: 50%;
        padding: 2em;
        font-size: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;



    }


    .secondDiv {
        max-width: 95%;
        padding: .2em;



        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-bottom: 1em;



    }


    .secondDivItem1 {

        min-width: 90%;
        padding: .5em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        font-size: .9rem;





    }

    .secondDivItem1 div {
        padding: 1em;
    }






    .secondDivItem2 {
        min-height: 25rem;
        min-width: 90%;

        display: flex;
        align-items: center;
        justify-content: space-between;
        background-image: url('../../img/b8.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;




    }



    .threedDiv {
        max-width: 90%;




        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        margin-bottom: 1em;



    }


    .threedDivItems {

        min-height: 25rem;

        border-radius: .6em;


        min-width: 18rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        box-shadow: 1px 1px 10px 1px var(--grey);

        margin-bottom: 1em;

        /* border: 1px solid green; */


    }

    .threedDivItems2 {

        min-height: 25rem;

        border-radius: .6em;


        min-width: 18rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        box-shadow: 1px 1px 10px 1px var(--grey);

        margin-bottom: 1em;

        /* border: 1px solid green; */


    }

    .threedDivItems3 {

        min-height: 25rem;

        border-radius: .6em;


        min-width: 18rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        box-shadow: 1px 1px 10px 1px var(--grey);

        margin-bottom: 1em;

        /* border: 1px solid green; */


    }

    .threedDivItems4 {

        min-height: 25rem;

        border-radius: .6em;


        min-width: 18rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        box-shadow: 1px 1px 10px 1px var(--grey);

        margin-bottom: 1em;

        /* border: 1px solid green; */


    }




}
