
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


.main{

    height: 100vmin;
    width: 100%;
    cursor: pointer;
    background-color: whitesmoke;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
 
 
}



.firstDiv{
    height: 12vmin;
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size:2.4vmin;
    font-weight: bolder;


    /* border: 1px solid red; */
   


}

.icon{
    margin-left: 10px;
    color: #0033cc;
    font-size: 3vmin;
    
}

.secondDiv{
    height: 8vmin;
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;


    /* border: 1px solid red; */
}



.threedDiv{
    width: 65%;
    height: 67vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    /* border: 2px solid red; */

}


 .threedDivItems1{
    height: 32vmin;
    width:32%;
    border-radius: 8px;

   

}

.threedDivItems1 video{
    border-radius: 8px;
    object-fit: cover;
    width: 100%;
    height: 100%;
   
  
}







.threedDivItems2 {
    height: 32vmin;
    width: 48.5%;
    border-radius: 8px;

}

.threedDivItems2 video {
    border-radius: 8px;
    object-fit: cover;
    width: 100%;
    height: 100%;


}

.emptyDiv{
    height: 10vmin;
    width: 90%;
}



@media only screen and (min-width: 1922px) and (max-width: 2562px) {

    .secondDiv {
            height: 8vmin;
            width: 75%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bolder;
            font-size: 2.1vmin;
    
    
            /* border: 1px solid red; */
        }


   


}



@media only screen and (min-width: 1600px) and (max-width: 1922px) {

    .secondDiv {
        height: 8vmin;
        width: 75%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bolder;
        font-size: 2vmin;


        /* border: 1px solid red; */
    }





}









@media only screen and  (max-width: 992px) {



    .firstDiv {
            height: 12vmin;
            width: 65%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            font-size: 2.2vmin;
            font-weight: bolder;
    
    
            /* border: 1px solid red; */
    
    
    
        }
    
        .icon {
            margin-left: 10px;
            color: #0033cc;
            font-size: 2.8vmin;
    
        }
    
        .secondDiv {
            height: 8vmin;
            width: 75%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bolder;
            font-size: 2vmin;
    
    
            /* border: 1px solid red; */
        }


}






@media only screen and (max-width: 768px) {

    .main {
    
            height: 100vmax;
            width: 100%;
            cursor: pointer;
            background-color: whitesmoke;
            z-index: 3;
            display: flex;
            flex-direction: column;
            align-items: center;
          
    
    
        }

   
    
    
    
        .firstDiv {
            
           
            height: 12vmin;
            width: 70%;
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            font-size: 2.2vmin;
            font-weight: bolder;
    
    
    
    
    
        }
    
        .icon {
            margin-left: 10px;
            color: #0033cc;
            font-size: 2.7vmin;
    
        }
    
        .secondDiv {
            height: 8vmin;
            width: 80%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bolder;
            font-size: 2vmin;
    
    
          
        }
    
    
 
        .threedDiv {
     width: 70%;
    height: 67vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;



}

    
        .threedDivItems1 {
            height: 32vmin;
            width: 32%;
            border-radius: 8px;
    
    
    
        }


                .threedDivItems2 {
                    height: 32vmin;
                    width: 48%;
                    border-radius: 8px;
        
                }





}
















@media only screen and (max-width: 600px) {

    .main {

        height:100vmax;
        width: 100%;
        cursor: pointer;
        background-color: whitesmoke;
        z-index: 3;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        /* justify-content: space-between; */


    }





    .firstDiv {
       
        height: 8vmin;
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-size: 3vmin;
        font-weight: bolder;


        /* border: 1px solid red; */



    }

    .icon {
        margin-left: 10px;
        color: #0033cc;
        font-size: 3.6vmin;

    }

    .secondDiv {
        height: 8vmin;
        width: 95%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bolder;
        font-size: 2.8vmin;


        /* border: 1px solid red; */
    }



    .threedDiv {
        width: 75%;
        height: 67vmax;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;

       

    }


    .threedDivItems1 {
        height: 32vmax;
        width: 32%;
        border-radius: 8px;



    }


    .threedDivItems2 {
        height: 32vmax;
        width: 48%;
        border-radius: 8px;

    }





}






























 
