



.navbar{
  position: fixed;
  top: 3%;
  left: 3%;
  cursor: pointer;
  z-index: 10;
 



}



.circles{

  position: fixed;
  top: 0%;
  right: 1%;
  height: 100vh;
  cursor: pointer;
    z-index: 10;

}

.circles :hover{
  transition: 450ms;

  fill: var(--dark);
}