@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@1,200&display=swap');


.main {

    height: 100vmin;
    width: 100%;
    z-index: 3;
    cursor: pointer;
    background-color: whitesmoke;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    font-weight: bolder;
    justify-content: space-around;






}




.firstDiv {
    height: 15vmin;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 2.8vmin;

    /* border: 1px solid red; */

}



.secondDiv {
    height: 50vmin;
    width: 65%;
    display: flex;
    flex-direction: row;
   
    align-items: center;
    justify-content: space-around;

  

}

.secondDivitems1{
    height: 49vmin;
    width: 50%;
    border-radius: 8px;
    border: 2px solid #33f;

}

.secondDivitems2 {
    height: 49vmin;
    width: 44%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    font-size: 2vmin;

    /* border: 1px solid red; */
}

.button{
    
        padding: 6px;
        height: 5vmin;
        width: 20vmin;
        border-radius: 6px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        border: 2.5px solid #33f;
        font-weight: bolder;
        color: #33f;


}

.button:hover{
    border: none;
    transition: 600ms;
    transform: scale(.98);
    background-color: #33f;
    color: whitesmoke;
}




input[type="text"] {
    padding: 6px;
    height: 4vmin;
    width: 90%;
    border-radius: 6px;
    border: 2px solid #33f;
    padding-left: 20px;
}

input[type="email"] {
    padding: 6px;
    height: 4vmin;
    width: 90%;
    border-radius: 6px;
    border: 2px solid #33f;
    padding-left: 20px;
   
}
textarea{
    height: 24vmin;
    width: 90%;
    border-radius: 6px;
        border: 2px solid #33f;
    padding-left: 20px;
    
}

textarea:hover{
       
        transition: 600ms;
        transform: scale(.98);

}


.threedDiv{
    height: 25vmin;
    width: 65%;
   display: flex;
   align-items: center;
   justify-content: space-around;
   flex-wrap: wrap;

    /* border: 2px solid red; */
}

.threedDivItems{
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: space-around;
   
    font-size: 2.2vmin;

}

.threedDivItems:nth-child(2){
    color: black;
    font-size: 3.5vmin;
}

.threedDivItems:nth-child(3) {
    color: black;
    font-size: 3.5vmin;
}




@media only screen and (min-width: 1922px) and (max-width: 2562px) {

    .button {
    
            padding: 6px;
            height: 4.5vmin;
            width: 17vmin;
            border-radius: 6px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: white;
            border: 2.5px solid #33f;
            font-weight: bolder;
            color: #33f;
            font-size: 1.9vmin;
    
    
        }



                  input[type="text"] {
                      padding: 6px;
                      height: 3vmin;
                      width: 65%;
                      border-radius: 6px;
                      border: 2px solid #33f;
                      padding-left: 20px;
                      font-size: 1.7vmin;
                  }
        
                  input[type="email"] {
                      padding: 6px;
                      height: 3vmin;
                      width: 65%;
                      border-radius: 6px;
                      border: 2px solid #33f;
                      padding-left: 20px;
                    font-size: 1.7vmin;
        
                  }
        
                  textarea {
                    height: 20vmin;
                      width: 65%;
                      border-radius: 6px;
                      border: 2px solid #33f;
                      padding-left: 20px;
                    font-size: 1.7vmin;
        
                  }





}






@media only screen and (min-width: 1600px) and (max-width: 1921px) {

    .button {

        padding: 6px;
        height: 4vmin;
        width: 17vmin;
        border-radius: 6px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        border: 2.5px solid #33f;
        font-weight: bolder;
        color: #33f;


    }


        .secondDivitems2 {
            height: 49vmin;
            width: 44%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-end;
            font-size: 2vmin;
    
            /* border: 1px solid red; */
        }




}


@media only screen and (max-width: 992px) {


    .secondDiv {
            height: 50vmin;
            width: 65%;
            display: flex;
            flex-direction: row;
    
            align-items: center;
            justify-content: space-around;
    
    
    
        }
    
        .secondDivitems1 {
            height: 49vmin;
            width: 54%;
            border-radius: 8px;
            border: 2px solid #33f;
    
        }
    
        .secondDivitems2 {
            height: 49vmin;
            width: 44%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-end;
            font-size: 2vmin;
    
            /* border: 1px solid red; */
        }





   
}




@media only screen and (max-width: 768px) {


    .main {
    
            height: 155vmin;
            width: 100%;
            z-index: 3;
            cursor: pointer;
            background-color: whitesmoke;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            align-items: center;
            color: black;
            font-weight: bolder;
            justify-content: space-around;
    
    
    
    
    
    
        }
    
    
    
    
        .firstDiv {
            height: 15vmin;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            font-size: 2.9vmin;
    
            /* border: 1px solid red; */
    
        }
    
        .secondDiv {
            height: 105vmin;
            width: 70%;
            display: flex;
            flex-direction: column;
    
            align-items: center;
            justify-content: space-around;
    
    
    
        }
    
        .secondDivitems1 {
            height: 49vmin;
            width: 70%;
            border-radius: 8px;
            border: 2px solid #33f;
    
        }
    
        .secondDivitems2 {
            height: 49vmin;
            width:70%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-end;
            font-size: 2.1vmin;
    
            /* border: 1px solid red; */
        }
    
        .button {
    
            padding: 6px;
            height: 5vmin;
            width: 20vmin;
            border-radius: 6px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: white;
            border: 2.5px solid #33f;
            font-weight: bolder;
            color: #33f;
    
    
        }
    
        .button:hover {
            border: none;
            transition: 600ms;
            transform: scale(.98);
            background-color: #33f;
            color: whitesmoke;
        }
    
    
    
    
        input[type="text"] {
            padding: 6px;
            height: 5vmin;
            width: 65%;
            border-radius: 6px;
            border: 2px solid #33f;
            padding-left: 20px;
        }
    
        input[type="email"] {
            padding: 6px;
            height: 5vmin;
            width: 65%;
            border-radius: 6px;
            border: 2px solid #33f;
            padding-left: 20px;
    
        }
    
        textarea {
            width: 65%;
            border-radius: 6px;
            border: 2px solid #33f;
            padding-left: 20px;
    
        }
    
        textarea:hover {
    
            transition: 600ms;
            transform: scale(.98);
    
        }
    
    
        .threedDiv {
            height: 25vmin;
            width: 70%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-wrap: wrap;
    
            /* border: 2px solid red; */
        }
    
        .threedDivItems {
            width: 45%;
            display: flex;
            align-items: center;
            justify-content: space-around;
    
            font-size: 2.2vmin;
    
        }
    
        .threedDivItems:nth-child(2) {
            color: black;
            font-size: 3.5vmin;
        }
    
        .threedDivItems:nth-child(3) {
            color: black;
            font-size: 3.5vmin;
        }



}










@media only screen and (max-width: 600px) {


    .main {

        height: 155vmin;
        width: 100%;
        z-index: 3;
        cursor: pointer;
        background-color: whitesmoke;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: black;
        font-weight: bolder;
        justify-content: space-around;






    }




    .firstDiv {
        height: 15vmin;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 2.8vmin;

        /* border: 1px solid red; */

    }

    .secondDiv {
        height: 105vmin;
        width: 75%;
        display: flex;
        flex-direction: column;

        align-items: center;
        justify-content: space-around;



    }

    .secondDivitems1 {
        height: 49vmin;
        width: 80%;
        border-radius: 8px;
        border: 2px solid #33f;

    }

    .secondDivitems2 {
        height: 49vmin;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-end;
        font-size: 2.2vmin;

        /* border: 1px solid red; */
    }

    .button {

        padding: 6px;
        height: 5vmin;
        width: 20vmin;
        border-radius: 6px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        border: 2.5px solid #33f;
        font-weight: bolder;
        color: #33f;


    }

    .button:hover {
        border: none;
        transition: 600ms;
        transform: scale(.98);
        background-color: #33f;
        color: whitesmoke;
    }




    input[type="text"] {
        padding: 6px;
        height: 5vmin;
        width: 75%;
        border-radius: 6px;
        border: 2px solid #33f;
        padding-left: 20px;
    }

    input[type="email"] {
        padding: 6px;
        height: 5vmin;
        width: 75%;
        border-radius: 6px;
        border: 2px solid #33f;
        padding-left: 20px;

    }

    textarea {
        width: 75%;
        border-radius: 6px;
        border: 2px solid #33f;
        padding-left: 20px;

    }

    textarea:hover {

        transition: 600ms;
        transform: scale(.98);

    }


    .threedDiv {
        height: 25vmin;
        width: 75%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;

        /* border: 2px solid red; */
    }

    .threedDivItems {
        width: 45%;
        display: flex;
        align-items: center;
        justify-content: space-around;

        font-size: 2.4vmin;

    }

    .threedDivItems:nth-child(2) {
        color: black;
        font-size: 3.5vmin;
    }

    .threedDivItems:nth-child(3) {
        color: black;
        font-size: 3.5vmin;
    }


}





















@media only screen and (max-width: 500px) {


    .main {

        height: 160vmin;
        width: 100%;
        z-index: 3;
        cursor: pointer;
        background-color: whitesmoke;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: black;
        font-weight: bolder;
        justify-content: space-around;






    }




    .firstDiv {
        height: 15vmin;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 3.1vmin;

        /* border: 1px solid red; */

    }

    .secondDiv {
        height: 105vmin;
        width: 75%;
        display: flex;
        flex-direction: column;

        align-items: center;
        justify-content: space-around;



    }

    .secondDivitems1 {
        height: 49vmin;
        width: 85%;
        border-radius: 8px;
        border: 2px solid #33f;

    }

    .secondDivitems2 {
        height: 50vmin;
        width: 85%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-end;
        font-size:2vmin;

        /* border: 1px solid red; */
    }

    .button {

        padding: 6px;
        height: 6.7vmin;
        width: 25vmin;
        border-radius: 6px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        border: 2px solid #33f;
        font-weight: bolder;
        color: #33f;
        font-size: 2.9vmin;


    }

    .button:hover {
        border: none;
        transition: 600ms;
        transform: scale(.98);
        background-color: #33f;
        color: whitesmoke;
    }




    input[type="text"] {
        padding: 6px;
        height: 5.5vmin;
        width: 75%;
        border-radius: 6px;
        border: 2px solid #33f;
        padding-left: 20px;
        font-size: 2.45vmin;
    }

    input[type="email"] {
        padding: 6px;
        height: 5.5vmin;
        width: 75%;
        border-radius: 6px;
        border: 2px solid #33f;
        padding-left: 20px;
        font-size: 2.45vmin;

    }

    textarea {
        width: 75%;
        border-radius: 6px;
        border: 2px solid #33f;
        padding-left: 20px;
        font-size: 2.6vmin;

    }

    textarea:hover {

        transition: 600ms;
        transform: scale(1);

    }


    .threedDiv {
        height: 35vmin;
        width: 75%;
        display: flex;
        align-items: center;
        /* flex-direction: column; */
       
        justify-content: space-around;
        flex-wrap: wrap;

        /* border: 2px solid red; */
    }

    .threedDivItems {
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: space-around;

        font-size: 2.9vmin;

    }

    .threedDivItems:nth-child(2) {
        width: 30%;
    
       
   
        color: black;
        font-size: 4.6vmin;
    }

    .threedDivItems:nth-child(3) {
          width: 30%;
 
     
        color: black;
        font-size: 4.6vmin;
    }



}



